@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/*---Global style---*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*---body default settings---*/
body {
  font-family: Poppins, Helvetica, sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*-------player info area and header-------*/

/* Style for the main heading */
h1 {
  font-family: Poppins, Helvetica, sans-serif;
  text-align: center;
  font-size: 1em;
  text-transform: capitalize;
  color: #3a3372;
  padding-bottom: 2%;
}

.player-info {
  width: 80vw;
  margin: 2vh auto 0;
  padding: 10px;
  overflow: hidden;
  border: 2px solid #0040ff;
  font-size: 1.5em;
  color: #3a3372;
}

.player-info .player-name {
  float: left;
  width: 50%;
}

.player-info .player-tries {
  float: right;
  width: 50%;
  text-align: right;
}

/* -------------Main game style--------------- */

/* Style for the game boards container */
.game-boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  margin: 5vh auto;
}

.game-boards.no-clicking {
  pointer-events: none;
}

/* Style for each game block (card) */
.game-boards .game-block {
  height: 12vw;
  width: calc(20% - 1vw);
  margin: 20px 1px;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.game-boards .game-block .front {
  background-color: #0080ff;
  line-height: 12vw;
}

.game-boards .game-block .front::before {
  content: "❓";
  font-size: 5vw;
}

.game-boards .game-block .rear img {
  width: 8vw;
  height: 8vw;
  margin-top: 2vw;
}

.game-boards .game-block .rear {
  background-color: #0080ff;
  transform: rotateY(180deg);
}

.game-boards .game-block .card {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 1px solid #161624;
}

/* Style for each game block (card) */
.game-boards .game-block.is-flipped,
.game-boards .game-block.has-match {
  transform: rotateX(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

/*------ Strat game buttons and text ------*/

.start-game-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: #060ab2b0;
  text-transform: capitalize;
}

.start-game-message {
  max-width: 80vw;
  max-height: 80vh;
  background-color: #ffffff;
  padding: 2%;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-game-message h2 {
  font-size: 2.4vw;
  margin-bottom: 1vh;
}

.start-game-message p {
  font-size: 1.8vw;
  margin-bottom: 2vh;
}

.start-game-message input {
  padding: 1%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: solid 0.13vw #161624;
  width: 100%;
  box-sizing: border-box;
  max-width: 50%;
}

#fname {
  font-size: 1.9vw;
}

.start-game-message button {
  color: rgb(0, 1, 1);
  padding: 1.5% 1%;
  font-size: 1.5vw;
  text-transform: capitalize;
  margin-top: 1vh;
  max-width: 50%;
}

/*------- Styles for the finish game dialog box -------*/

#finish-dialog {
  width: 50vw;
  height: 39vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0609b2d7;
  padding: 3vh 4vw;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  align-items: center;
  justify-content: center;
  z-index: 3;
  user-select: none;
}

#finish-message {
  font-size: 2.5vw;
  max-width: 90%;
  text-align: center;
  margin-bottom: 3vh;
  text-transform: capitalize;
  color: #f6f6f6;
  margin-left: 5%;
}

#play-again-button {
  font-size: 2vw;
  padding: 1.5vh 5vw;
  margin: 1vh 1vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(32, 147, 28);
  color: #fff;
  transition: background-color 0.3s ease;
  margin-left: 25%;
}

#finish-button {
  font-size: 2vw;
  padding: 1.5vh 5vw;
  margin: 1vh 1vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(32, 147, 28);
  color: #fff;
  transition: background-color 0.3s ease;
  margin-left: 30%;
}

#play-again-button:hover,
#finish-button:hover {
  background-color: #0056b3;
}

/*------- Footer Styles and social links  -------*/

footer {
  width: 100%;
  padding: 2vh 0;
  background-color: #f5f5f5;
  text-align: center;
  position: relative;
  bottom: 0;
}

footer p {
  font-size: 1.8vw;
  margin-top: 15px;
}

footer h3 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3b394e;
  padding-bottom: 2%;
}

.social_links li {
  display: inline;
  list-style: none;
  margin: 1%;
}

.social_links li a {
  text-decoration: none;
  transition: 0.7s;
}

.social_links i {
  font-size: 150%;
  transition: 0.7s;
}

.social_links i:hover {
  transform: scale(1.5);
}

.fa-github {
  color: #27429a;
}

.fa-twitter {
  color: #3a6cf4;
}

/*-----Media queries-----*/

@media only screen and (max-width: 1400px) {
  .start-game-message {
    max-width: 80vw;
    max-height: 80vh;
  }
  .start-game-message h2 {
    font-size: 2.5vw;
  }
  .start-game-message p {
    font-size: 2vw;
  }
  .start-game-message input {
    padding: 1%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    max-width: 90%;
  }
  .start-game-message button {
    padding: 1.5% 1%;
    margin-top: 1vh;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .start-game-message {
    max-width: 80vw;
    max-height: 80vh;
  }
  .start-game-message h2 {
    font-size: 2.4vw;
    margin-bottom: 1vh;
  }
  .start-game-message p {
    font-size: 1.8vw;
    margin-bottom: 2vh;
  }
  .start-game-message input {
    padding: 1%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    max-width: 90%;
  }
  .start-game-message button {
    padding: 1.5% 1%;
    margin-top: 1vh;
    max-width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .start-game-message {
    width: 60vw;
    height: 50vh;
  }
  .start-game-message h2 {
    font-size: 4vw;
  }
  .start-game-message p {
    font-size: 3vw;
  }
  .start-game-message input {
    padding: 2.5vw 3vw;
    margin-top: 2.5vh;
    margin-bottom: 3vh;
  }
  .start-game-message button {
    padding: 1.5% 1%;
    margin-top: 1vh;
    max-width: 50%;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: large;
  }
  .start-game-message {
    width: 57vw;
    height: 40vh;
  }
  .start-game-message h2 {
    font-size: 4vw;
  }
  .start-game-message p {
    font-size: 3vw;
  }
  .start-game-message input {
    padding: 1vw 1vw;
    margin-top: 1.5vh;
    margin-bottom: 2vh;
  }
  .start-game-message button {
    padding: 1.5% 1%;
    margin-top: 1vh;
    max-width: 50%;
  }
}
